<div class="product-card cursor-pointer" (click)="goToDetail()">

  <div class="product-image">
    <img [src]="product.image_Url || fallbackImage" [alt]="product.productName" loading="lazy"
      (error)="onImageError($event)" />
  </div>

  <div class="product-info">
    <div class="price-section">
      <span class="current-price">{{ product.currentPrice | number:'1.0-0' }} đ</span>
      <span class="unit" *ngIf="product.donViTinh as dvt">/ {{ dvt.ten }}</span>
    </div>

    <div class="discount-section" [class.empty]="!product.hasDiscount">
      <span class="original-price" *ngIf="product.hasDiscount">
        {{ product.price | number:'1.0-0' }} đ
      </span>
      <span class="discount-badge" *ngIf="product.hasDiscount">
        -{{ product.discountPercent }}%
      </span>
    </div>

    <h3 class="product-name" [title]="product.productName">
      {{ product.productName }}
    </h3>

    <div class="shipping-info">
      <svg width="16" height="16"><use href="assets/icons/icons.svg#icon-truck"></use></svg>
      <span>Giao hàng tận nơi</span>
    </div>

    <div class="actions">
      <button class="favorite-btn" (click)="toggleFavorite(); $event.stopPropagation()">
        <svg width="20" height="20"><use href="assets/icons/icons.svg#icon-heart"></use></svg>
      </button>

      <button class="cart-btn" (click)="addToCart(); $event.stopPropagation()">
        Thêm vào giỏ
      </button>
    </div>
  </div>
</div>